

<!--cart counter-->
<div id="fixedbutton" data-step="3" data-intro="When finished, click here!" >
<div class="cart-text"><%= render 'layouts/cart_text' %></div>
</div>
<!---->



<div class="jumbotron" style="background-image: url(<%= asset_path "splash.jpg" %>);">
<div class="well well-sm" id="splash-well">
<h2 class="splashtext">IS YOUR DIET GIVING YOU RICKETS?</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h4 class="splashtext">Weight loss should not come at the expense of vitamin and mineral deficiency. Diet Rater gives you the tools to analyze the micronutrient content of any diet.</h4>
</div>
</div>
<h3 class="splashtext">Save your bones, rate your diet.</h2>
</div>
<div class="splashtext">
<a id="startButton" class="btn btn-large btn-success" href="javascript:void(0);">Show me how</a>
</div>
</div>


<h3 class="text-center">Add some foods to your plate for analysis</h3>
<div class ="row">
<div class ="col-md-8 col-md-offset-2">
<div class ="well well-sm" align="center" data-step="1" data-intro="Find some foods you eat from our database" data-position="top">



<%= form_tag(foods_path, :method => "get", id: "search-form", remote:true  )  do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search food by name", type: "search", data: {autocomplete: foods_autocomplete_food_name_path}, :size=>"50"  %>  
<%= submit_tag "Search" %>
<%end%>
<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>



</div>
</div>
</div>
<hr>


<div class="row">
  <div class="col-md-8 col-md-offset-2" data-step="2" data-intro="Add foods to your plate" data-position="top">

<div id="results">
  <%= render :partial => 'search_results'%>
</div>

  </div>
</div>

<script type="text/javascript">
  document.getElementById('startButton').onclick = function() {
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = '/cart?multipage=true';
    });
  };
</script>

