<h3 class="text-center">List of Foods</h3>


<div class ="row">
<div class ="col-md-6 col-md-offset-3">
<div class ="well well-lg" align="center">



<%= form_tag(foods_path, :method => "get", id: "search-form") do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search food by name", type: "search", data: {autocomplete: foods_autocomplete_food_name_path} %>  
<%= submit_tag "Search" %>
<%end%>
<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>



</div>
</div>
</div>
<hr>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @foods.each do |food| %>
      <%= render "food_row", food: food, cart_item: @cart_item %>
    <% end %>
  </div>
</div>

<%= paginate @foods %>
<%= page_entries_info @foods %>