<h3 class="text-center">List of Foods</h3>

<%= form_tag(foods_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>



<div class="row">
  <div class="col-md-6 col-xs-offset-3">
    <% @foods.each do |food| %>
      <%= render "food_row", food: food, cart_item: @cart_item %>
    <% end %>
  </div>
</div>

<%= paginate @foods %>
<%= page_entries_info @foods %>