<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Serve size:</strong>
  <%= @food_item.serve_size %>
</p>

<p>
  <strong>Nut type:</strong>
  <%= @food_item.nut_type %>
</p>

<p>
  <strong>Nut size:</strong>
  <%= @food_item.nut_size %>
</p>

<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
