<p id="notice"><%= notice %></p>

<h1>Listing Food Entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serve size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_entries.each do |food_entry| %>
      <tr>
        <td><%= food_entry.name %></td>
        <td><%= food_entry.serve_size %></td>
        <td><%= link_to 'Show', food_entry %></td>
        <td><%= link_to 'Edit', edit_food_entry_path(food_entry) %></td>
        <td><%= link_to 'Destroy', food_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food entry', new_food_entry_path %>
